.menu {
    padding: 0;
    margin: 0;
    display: flex;

    &__item {
        list-style: none;
    }

    &__link {
        display: block;
        padding: 15px 11px;
        text-decoration: none;
        font-size: 13px;
        line-height: 1.2
    }

    &__link--grey {
        color: $menu-font-color;
    }

    &__link--mr {
        margin-right: -3px;
    }
    
}




.menu__humberger {
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: absolute;
    padding-top: 40px;
    top: 0px;
    right: 0;
    border-top-right-radius: 25px;
    z-index: 5;
    display: none;

    &--active {
        display: block;
    }

    a {
        color: #222;
        padding: 15px 70px;
    }
}



@media (max-width: 1200px) {
    
    .menu__link--white {
        font-size: 15px;
        padding: 16px 18px;
    }

    .slider {
        padding-top: 128px;
    }

    .header {
        height: 839px;
    }
}


@media (max-width: 992px) {

    .header__menu-right {
        display: none;
    }

    .header__humberger {
        position: absolute;
        top: -8px;
        right: 20px;
    }

    .menu-btn {
        display: block;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        position: relative;
        z-index: 10;
    }

    .menu-btn span, .menu-btn span::before, .menu-btn span::after {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: #222;
    }

    .menu-btn span::before {
        content: '';
        display: block;
        transition: 0.2s;
        transform: translateY(-5px);
    }

    .menu-btn span::after {
        content: '';
        display: block;
        transition: 0.2s;
        transform: translateY(5px);
    }


    .menu-btn--active span:before {
        transform: rotate(-45deg);
        transform-origin: center;
    }

    .menu-btn--active span:after {
        transform: rotate(45deg);
        transform-origin: center;
    }

    .menu-btn--active span {
        height: 0;
    }


}

