.news {
    margin-bottom: 30px;
    padding-top: 3px;

    &__short-list {
        padding: 0;
        margin: 0;
    }

    &__item {
        list-style: none;
        display: flex;
        align-items: flex-start;
        margin-bottom: 44px;
    }

    &__post {
        width: 100%;
    }

    &__post-text {
        font-family: 'muli';
        font-size: 13px;
        line-height: 1.5;
        color: $white;
        margin-bottom: 7px;
        letter-spacing: 0.2px;
        max-width: 95%;
    }

    &__post-date {
        font-size: 10px;
        color: $menu-font-color;
    }

    &__img {
        display: block;
    }

    &__img-wrap {
        margin-right: 14px;
        padding-top: 3px;
    }

}