.logo {
    width: 195px;
    margin-left: 0;

    &__img {
        width: 100%;
        display: block;
    }
}



.header {
    background-image: url(../assets/img/bg-main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 976px;
    padding-top: 59px; 
}


.header__menu {
    display: flex;
}

.header__menu-right {
    margin-left: auto;
    margin-right: -21px;
}

.menu__link--white {
    color: $white;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'montserrat';
    font-weight: 600;
    padding: 10px 31px;
}



@media (max-width: 1200px) {
    
    .menu__link--white {
        font-size: 15px;
        padding: 16px 18px;
    }

    .slider {
        padding-top: 128px;
    }

    .header {
        height: 839px;
    }
}


@media (max-width: 992px) {

    .header__menu-right {
        display: none;
    }

    .header__humberger {
        position: absolute;
        top: -8px;
        right: 20px;
    }

    .menu-btn {
        display: block;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        position: relative;
        z-index: 10;
    }

    .menu-btn span, .menu-btn span::before, .menu-btn span::after {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: #222;
    }

    .menu-btn span::before {
        content: '';
        display: block;
        transition: 0.2s;
        transform: translateY(-5px);
    }

    .menu-btn span::after {
        content: '';
        display: block;
        transition: 0.2s;
        transform: translateY(5px);
    }


    .menu-btn--active span:before {
        transform: rotate(-45deg);
        transform-origin: center;
    }

    .menu-btn--active span:after {
        transform: rotate(45deg);
        transform-origin: center;
    }

    .menu-btn--active span {
        height: 0;
    }


}

