.service {
    padding-top: 70px;
    padding-bottom: 90px;
    
    &__title--center {
        text-align: center;
        margin-bottom: 100px;
    }

    &__title {
        text-transform: uppercase;
        font-size: 22px;
        font-family: 'montserrat';
        font-weight: 700;
        color: $service-header-font-color;
        margin-bottom: 20px;
        letter-spacing: -0.4px;
        padding-right: 14px;

        &--center {
            text-align: center;
            margin-bottom: 109px;
        }
    }

    &__desc {
        font-size: 14px;
        color: $main-color;
        padding-right: 14px;
        letter-spacing: 0.21px;
    }
}


@media (max-width: 768px) {
    .service__title--center {
        margin-bottom: 40px;
    }
}
