.MI {
    &-container {
        height: 100vh;
        background: rgba(236, 240, 245, 1);
        display: flex;
    }

    &-userList {
        flex-basis: 300px;
        height: 100%;
        background: rgba(34, 45, 50, 1);
        overflow-y: auto;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &-communicationArea {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

    }

    &-messagePool {
        overflow-y: auto;
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        padding-left: 7px;
        justify-content: flex-end;
    }

    &-input {
        color: rgba(255, 255, 255, 1);
        min-height: 50px;
        padding-left: 15px;
        background: rgba(34, 45, 50, 1);
        border: none;
        border-left: 1px solid rgba(255, 255, 255, 1);
        outline: none;
    }

} 