body {
    font-family: $main-font;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1176px;
    }
}

.col-lg-4, .col-xl-4, .col-lg-8, .col-xl-8 {
    padding-right: 5px;
    padding-left: 5px;
}



