$white: #ffffff;
$light-grey: #969595;
$silver: #8c8c8c;
$grey: #757575;
$gray: #6b6b6b;
$dark-grey: #424242;
$drim-grey: #313131;
$drim-gray: #292929;
$light-black: #2e2e2e;
$cyan: #009688;
$light-cyan: #00c4b1;
$blue: #31aae2;







$main-color: $grey;

$active-color: $cyan;
$bg-footer: $drim-grey;
$bg-footer-menu: $drim-gray;

$bg-graph-value: $light-cyan;

$service-header-font-color: $dark-grey;
$service-text-font-color: $silver;

$footer-link: $light-grey;

$menu-font-color: $gray;

$social-bg: $light-black;
$social-bg-active: $blue;
$social-icon: $gray;
$social-icon-active: $white;

